CANTIDAD_NODOS=3

SERVER_HOST_0=127.0.0.1
SERVER_PORT_0=3001

SERVER_HOST_1=127.0.0.1
SERVER_PORT_1=3002

SERVER_HOST_2=127.0.0.1
SERVER_PORT_2=3003

MONITOR_HOST=127.0.0.1
MONITOR_PORT=3000

PERSISTENCIA_TIPO=TEXT_FILE
PERSISTENCIA_DIR=./data/persistencia

SERVER_SECRET_KEY=grupo6-default-secret-key
ENCRYPTION_METHOD=AES
